<?xml version="1.0"?>
<launch>
  <master auto="start"/>

  <!-- Launch a map from the maps folder-->
  <arg name="map_file" default="$(find racecar_control)/maps/apartment.yaml" />
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" respawn="true" output="screen" />

  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>

  <!-- AMCL Localization -->
  <arg name="custom_amcl_launch_file" default="$(find racecar_control)/launch/includes/amcl.launch.xml"/>
  <include file="$(arg custom_amcl_launch_file)"/>
      
  <!-- Launch the racecar model -->
  <include file="$(find racecar_control)/launch/racecar_model.launch"/>
  
  <!-- Launch rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find racecar_control)/rviz/localization.rviz" />

  <!-- Move base -->
  <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- planner params -->
    <rosparam file="$(find racecar_control)/config/base_local_planner_params.yaml" command="load" />
    <!-- costmap common params -->
    <rosparam file="$(find racecar_control)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <!-- local costmap -->
    <rosparam file="$(find racecar_control)/config/local_costmap_params.yaml" command="load" />
    <!-- global costmap -->
    <rosparam file="$(find racecar_control)/config/global_costmap_params.yaml" command="load" />
    
    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/>
  </node>

</launch>
